/* Copyright 2023 Kaya Sertel. All Rights Reserved. */

body {
    margin: 0px !important;
}

/* width */
::-webkit-scrollbar {
	display: block;
	position: relative;
	right: 2px;
	border-radius: 8px;
	border: solid  black 2px;
	width: 14.5px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 2px;
	background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	border: solid #f1f1f1 3.5px;
	border-radius: 8px;
	background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

p {
	text-align: center;
	font-family: Atkinson Hyperlegible, sans-serif;
}

.main_div {
	width: 100%;
	overflow-x: hidden;
	height: auto;
	position: relative;
	z-index: 0;
}

.fixed_menu_space {
	width: 100%;
	height: 60px;
}

.fixed_menu_top {
	top: 0px;
	width: 100%;
	height: 60px;
	display: block;
	position: fixed;
	
	left: 0px;
	z-index: 10;
	
	white-space: nowrap;
	box-shadow: 10px 6px 5px 0 rgba(80, 88, 97, 0.6);
	background-color: rgba(0, 30, 33, 0.9);
	/*
	background-color: rgba(250, 220, 230, 1);
	box-shadow: 10px 6px 5px 0 rgba(80, 88, 97, 0.6);
	*/
}

.fixed_menu_top_backgorund {
	position: absolute;
	height: 100%;
	width: 100%;
	
	background-image: url("../../files/photos/wood_background_photo.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.4;

}

.fixed_menu_container {
	margin-top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.search_logo {
	font-size: 20px;
	padding: 15px;
	padding-right: 15px;
	padding-top: 14px;
	
}



.navicon_button {
	cursor: pointer;
}

.top_button {
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	z-index: 10;
}

.contect a {
	display: block;
}

.contect {
	white-space: nowrap;
	display: inline-flex;
	flex-direction: row-reverse;
}

.navicon_button {
	display: inline-block;
	cursor: pointer;
}



.close_button_all_screen {
	position: fixed;
	background-color: rgba(48, 48, 48);
	height: 100%;
	width: 100%;
	z-index: 7;
	opacity: 0.4;
	display: none;
}

.navicon_button_container {
	padding-top: 48px;
	    padding-left: 3px;
		
}

.bar1, .bar2, .bar3 {
  width: 39px;
  height: 6px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
  border-radius: 2px;
}
/*background-image: url("https://static.moooi.com/static/images/nav-button.png");*/
.navi_change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 10px);
  transform: rotate(-45deg) translate(-12px, 10px);
}

.navi_change .bar2 {opacity: 0;}

.navi_change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
  transform: rotate(45deg) translate(-9px, -6px);
}

.navi_change_2 .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 8px);
  transform: rotate(-45deg) translate(-9px, 8px);
}

.navi_change_2 .bar2 {opacity: 0;}

.navi_change_2 .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -5px);
  transform: rotate(45deg) translate(-7px, -5px);
}

.top_part_logo {
	color: white !important;
}


.fixed_menu_top a {
	border-radius: 8px;
	display: block;
	color: white;
	text-align: center;
	margin: 12px 20px;
	text-decoration: none;
	font-size: 25px;
	font-family: Bebas Neue, sans-serif;
	cursor: pointer;
}

.search_part_a {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	display: block;
}



@media only screen and (max-width: 350px) {
	.fixed_menu_top a {
		font-size: 13px;
		margin: 6px 1px;
	}
	.fixed_menu_top {
		height: 50px;
	}
	
	.fixed_menu_space {
		height: 50px;
	}
	
	.icon_top_div {
		width: 17px;
		padding: 5px;
	}
	.fixed_menu_container {
		margin-left: 2px;
		margin-right: 2px;
	}
	
	.top_part_logo {
		height: 30px;
		font-size: 15px;
	}
	
	.notification_number {
		left: 16px;
		top: 11px;
		font-size: 11px;
		height: 12px;
    width: 12px;
	}
	
	.small_slogan_text {
		font-size: 20px;
	}
	
	.big_slogan_text {
		font-size: 60px;
	}
			.small_slogan_text {
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
		-webkit-text-stroke: 1.5px black;
		text-shadow: 13px 13px 13px black,
        1px 1px 1px black,
	}
	
	.big_slogan_text {
		font-size: 70px;
		-webkit-text-stroke: 2px black;
		text-shadow: 1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
    1px 5px 6px rgba(16,16,16,0.4),
    1px 10px 10px rgba(16,16,16,0.2),
    1px 15px 35px rgba(16,16,16,0.2),
    1px 20px 60px rgba(16,16,16,0.4);
	}
}

@media only screen and (max-width: 600px) and (min-width: 351px){
	.fixed_menu_top a {
		font-size: 15px;
		margin: 6px 8px;
	}
	.fixed_menu_top {
		height: 45px;
	}
	
	.fixed_menu_space {
		height: 45px;
	}
	
	.icon_top_div {
		width: 19px;
		padding: 5px;
	}
	.fixed_menu_container {
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.top_part_logo {
		height: 30px;
		font-size: 15px;
	}
	
	.notification_number {
		left: 19px;
		top: 13px;
		font-size: 14px;
		height: 16px;
		width: 16px;
	}
	
	.small_slogan_text {
		font-size: 30px;
	}
	
	.big_slogan_text {
		font-size: 100px;
	}
	
		.small_slogan_text {
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
		-webkit-text-stroke: 1.5px black;
		text-shadow: 13px 13px 13px black,
        1px 1px 1px black,
	}
	
	.big_slogan_text {
		font-size: 90px;
		-webkit-text-stroke: 3px black;
		text-shadow: 1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
        1px 7px 1px black,
        1px 8px 1px black,
    1px 10px 6px rgba(16,16,16,0.4),
    1px 15px 10px rgba(16,16,16,0.2),
    1px 20px 35px rgba(16,16,16,0.2),
    1px 25px 60px rgba(16,16,16,0.4);
	}
}

@media only screen and (min-width: 601px) and (max-width: 1000px) {/*1000px TEN SONRA ÇALIŞIR VE 601PX DE DURUR*/
	.fixed_menu_top a {
		font-size: 17px;
		margin: 6px 8px;
	}
	
	.fixed_menu_top {
		height: 55px;
	}
	
	.fixed_menu_space {
		height: 55px;
	}
	
	.icon_top_div {
		width: 22px;
		padding: 10px;
	}
	
	.fixed_menu_container {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.top_part_logo {
		height: 40px;
		font-size: 20px;
	}
	
	.notification_number {
		left: 27px;
		top: 20px;
		font-size: 14px;
		height: 16px;
		width: 16px;
	}
	
	.mini_logo_top {
		
	}
	
		
	.small_slogan_text {
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
		-webkit-text-stroke: 1.5px black;
		text-shadow: 13px 13px 13px black,
        1px 1px 1px black,
	}
	
	.big_slogan_text {
		font-size: 120px;
		-webkit-text-stroke: 3px black;
		text-shadow: 1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
        1px 7px 1px black,
        1px 8px 1px black,
        1px 9px 1px black,
    1px 15px 6px rgba(16,16,16,0.4),
    1px 20px 10px rgba(16,16,16,0.2),
    1px 23px 35px rgba(16,16,16,0.2),
    1px 28px 60px rgba(16,16,16,0.4);
	}
}
/*$(".fixed_menu_container").css("margin-right", 25);*/

@media only screen and (max-width: 1000px) { /*1000px TEN SONRA ÇALIŞIR VE 0PX E KADAR DEVAM EDER*/
	.search_part_a {
		display: none !important;
	}
	
	
}

@media only screen and (min-width: 1001px) { 
	.fixed_menu_container {
		margin-left: 50px;
		margin-right: 50px;
	}


	.notification_number {
		left: 38px;
		top: 30px;
		font-size: 17px;
		height: 20px;
		width: 20px;
	}
	
	.notification_bell {
		padding-bottom: 0px !important;
	}
	
	.fixed_menu_top {
		height: 87px;
	}
	
	.fixed_menu_space {
		height: 87px;
	}
	
	.top_part_logo {
		height: 50px;
		font-size: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.icon_top_div {
		top: 0px;
		width: 33px;
		padding: 15px;
		margin: 0px;
	}
	
	.mini_logo_top {
		position: relative;
		top: 2px;
	}
	
	.small_slogan_text {
		font-size: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
		-webkit-text-stroke: 1.5px black;
		text-shadow: 13px 13px 13px black,
        1px 1px 1px black,
	}
	
	.big_slogan_text {
		font-size: 150px;
		-webkit-text-stroke: 3px black;
		text-shadow: 1px 1px 1px black,
        1px 2px 1px black,
        1px 3px 1px black,
        1px 4px 1px black,
        1px 5px 1px black,
        1px 6px 1px black,
        1px 7px 1px black,
        1px 8px 1px black,
        1px 9px 1px black,
        1px 10px 1px black,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
	}
}



.notification_number {
	position: absolute;
	border-radius: 50%;
	background-color: red;
	color: white;
}

.icon_top_div {
	position: relative;
}




.submit_button {
	padding: 15px;
	margin-top: 0px;
	margin-right: 20px;
	border-radius: 100px;
}

.microphone_button_top_a {
	border-radius: 50px;
}

.microphone_button_top {
	padding: 20px;
}

.fixed_menu_top a:hover {
	animation: button_background_hover_ani 0.13s ease-in-out;
	background: rgba(255, 255, 255, 0.2);
}
.transition_sign_cont {
	width: fit-content;
}


.category {
	float: left;
    display: block;
	position: relative;
}

@keyframes button_background_hover_ani {
  from {background: none;}
  to {background: rgba(255, 255, 255, 0.3) !important;}
}

.img_slogan {
	position: absolute;
    bottom: 70px;
	z-index: 11;
	width: 100%;
	text-align: center;
}

.img_slogan_cont {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.img_slogan_txt {
	margin: 0px;
	font-size: 70px;
	font-family: Atkinson Hyperlegible, sans-serif;
}

.go_furniture_detail {
	bottom: 43px;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 12;
}

.go_furniture_detail_cont_1 {
	display: flex;
	align-content: center;
    justify-content: center;
    align-items: center;
	flex-direction: column;
	width: 100%;
}



.go_furniture_detail_a {
	color: black;
    cursor: pointer;
    text-decoration: none;
	background-color: white;
	border-radius: 100px;

}

.go_furniture_detail_a:hover {
	text-decoration: underline;
	background-color: #efefef;
	animation: go_furniture_detail_a_backgorund_ani 0.3s;
   -webkit-text-decoration-color: rgba(0, 0, 0, 0.4); /* Safari */   
   text-decoration-color: rgba(0, 0, 0, 0.4);
}


@keyframes go_furniture_detail_a_backgorund_ani {
	from {
		background-color: white;
		-webkit-text-decoration-color: rgba(255, 0, 0, 0); /* Safari */   
		text-decoration-color: rgba(0, 0, 0, 0);
	
	}
	to	{
		background-color: #efefef;
		-webkit-text-decoration-color: rgba(0, 0, 0, 0.4); /* Safari */   
		text-decoration-color: rgba(0, 0, 0, 0.4);
	
	}
}

.transition_sign {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 13;
	bottom: -10px;
}

.transition_sign_cont {
	display: flex;
	flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
	width: 1900px;
}
:root {
    --swiper-navigation-size: 20px;
}
.trans_click {
	border-radius: 3px;
	height: 80px;
	width: 100px;
	border: 2px solid black;
	cursor: pointer;
	margin: 1px;
	background: none;
	overflow: hidden;
}

.trans_button_img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.trans_click:hover {	
	height: 76px;
	width: 96px;
		margin-left: 3px;
		margin-right: 3px;
	/*background: black;*/
	animation: trans_click_ani 0.3s;
}

@keyframes trans_click_ani {
	from {
		height: 80px;
		width: 100px;
		margin-left: 1px;
		margin-right: 1px;
		/*background: none;*/
	}
	to	{
		height: 76px;
		width: 96px;
		margin-left: 3px;
		margin-right: 3px;
		/*background: grey;*/
	}
}

.trans_active {
	border: 2px solid black !important;
	background: black !important;
	height: 76px !important;
	width: 96px !important;	
	margin-left: 3px !important;
		margin-right: 3px !important;
	box-shadow: 2px 2px #888888;
	cursor: default;
}

.go_furniture_detail_cont_2 {
	padding: 12px;
}

.go_furniture_detail_txt {
	margin: 0px;
	font-family: Montserrat, sans-serif;
}

.container_1 {
	height: 100vh;
	width: 100%;
}


.main_container_2 {
	position: relative;
	height: 100vh;
	width: 100%;
}

.main_container_2_bg_photo_part {
	overflow: hidden;
	z-index: 4;
	position: absolute;
	width: 100%;
	height: 100%;
}

.main_container_2_bg_photo {
	top: 0px;
	width: 120%;
    height: 120%;
    object-fit: cover;
	position: relative;
}

.main_container_2_text_part {
	font-family: Montserrat, sans-serif;
	text-align: center;
	position: relative;
	color: white;
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
}



.wrapper {
	
	display: inline-flex;
	margin-top: 0px;
	margin-right: 70px;
}

.wrapper .icon {
	font-family: Atkinson Hyperlegible, sans-serif;
	position: relative;
	/*background-color: #ffffff;*/
	color: white;
	border-radius: 50px;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  /*background-color: #e1306c;*/
    background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
background-position: 20%;
  color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  /*background: linear-gradient(139deg, rgba(43,133,193,1) 0%, rgba(49,169,219,1) 100%);*/
  background-color: #35ade1;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: red;
  color: #ffffff;
}

.wrapper .whatsapp:hover,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip::before {
  background-color: #008000;
  color: #ffffff;
}

.wrapper .map:hover,
.wrapper .map:hover .tooltip,
.wrapper .map:hover .tooltip::before {
  background-color: #498ee3;
  color: #ffffff;
}

.wrapper .menu_button_clickk:hover,
.wrapper .menu_button_clickk:hover .tooltip,
.wrapper .menu_button_clickk:hover .tooltip::before {
  background-color: black;
  color: #ffffff;
}

.swiper_container_wrapper_outer {
	width: 600px;
	height: 600px;
	position: relative;
}

.swiper-container-wrapper {
	z-index: 6;
	position: relative;
	height: 400px;
	overflow: hidden;
	border-radius: 5px;
}
.swiper-container {
	height: 100%;
}

.product_cont {
	display: flex;
	margin: 20px;
}

.product_text_contant_main {
	text-align: center;
}

@media only screen and (min-width: 301px) and (max-width: 1101px) { 
	.product_cont {
	    justify-content: space-evenly;
	}
	
	.product_cont {
		
		align-items: center;
		flex-direction: column;
	}
	
	.container_1 {
		height: auto !important;
	}
}

@media only screen and (min-width: 1101px) { 
	.product_cont {
	    justify-content: space-evenly;
	}
}

:root {
    --swiper-theme-color: white !important;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
	opacity: 1;
	visibility: visible;
}
.swiper-container .swiper-button-disabled {
	opacity: 1;
	visibility: visible;
}
.swiper-container .swiper-button-prev {
	left: 10px;
}
.swiper-container .swiper-button-next {
	right: 10px;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	transform: translateY(-5px);
	animation: hover_on_buttons_ani 0.3s;
}
@keyframes hover_on_buttons_ani {
	from {transform: translateY(0px);}
	to	{transform: translateY(-5px);}
}

.contect_part {
	width: 100%;
	background-color: #2d3633;
	color: white;
	position: relative;
	z-index: 6;
}

.contect_part_cont {
	position: relative;
}

.contect_part_cont_2 {
	display: relative;
}

.swiper_slide_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.social_media_part {
	z-index: 5;
	position: relative;
}

.mapouter {
	z-index: 4;
	/*position: absolute;
	margin-top: -72px;
	margin-left: 10px;*/
}

.maps {
	display: block;
}

.maps_cont {
	display: flex;
	justify-content: space-around;
}

.social_and_text_part {
	padding: 22px 0px;
	display: flex; 
    justify-content: space-around;
}

.contect_social_header { 
	font-family: Atkinson Hyperlegible, sans-serif;
	text-decoration: underline;
	position: relative;
	text-align: center;
}

@mixin stroke($color: #000, $size: 1px) {
  text-shadow:
    -#{$size} -#{$size} 0 $color,
     0        -#{$size} 0 $color,
     #{$size} -#{$size} 0 $color,
     #{$size}  0        0 $color,
     #{$size}  #{$size} 0 $color,
     0         #{$size} 0 $color,
    -#{$size}  #{$size} 0 $color,
    -#{$size}  0        0 $color;
}

.fix_stroke {
   paint-order: stroke fill;
}

.img_slogan_txt {
	text-align: center;
	   text-decoration: none;
	   paint-order: stroke fill;
   border-bottom: 1px solid rgba(255, 255, 255, 0.4);
   display: inline-block;
}



@media only screen and (max-width: 701px) {
	.contect_social_header {
		font-size: 50px;
		right: 0px;
		position: relative;
		margin-bottom: 5px;
		padding-top: 20px;
		margin-top: 0px;
	}	
	
	.social_and_text_part {
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
	}
	.maps {
		height: 430px;
	}
	
	.maps_cont {
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		height: 430px;
	}
}



@media only screen and (min-width: 701px) and (max-width: 1301px) { 
	.contect_social_header {
		font-size: 50px;
		right: 0px;
		position: relative;
		margin-bottom: 5px;
		padding-top: 20px;
		margin-top: 0px;
	}
	
	.maps {
		height: 450px;
	}
	
	.maps_cont {
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		height: 450px;
	}
}

@media only screen and (min-width: 1301px) {
	.contect_social_header {
		font-size: 50px;
		right: 0px;
		margin-bottom: 5px;
		padding-top: 20px;
		margin-top: 0px;
	}
	
	.social_media_part {
		margin-right: 0px !important;
	}
	
	.maps {
		height: 450px;
		padding: 20px 0px;
	}
	
	.maps_cont {
		height: 450px;
	}
}


.copywrite_part {
	display: block;
	position: relative;
	width: 100%;
	background-color: #555a63;
}

.copywrite_text {
	color: white;
	font-size: 20px;
	margin: 0px;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
}
